.table {
  text-align: center;
  thead {
    background: linear-gradient(to top, #0858f7, #2b77e5);
    color: white;
  }
  tbody {
    tr {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
