.register-container {
  background: var(--mainBackground);
  position: absolute;
  width: 100%;
  height: 100%;
  .container-content {
    margin-top: 14%;
  }
}
.detail {
  font-size: 40px;
  color: darkolivegreen;
  font-weight: bold;
}
.brand,
img {
  width: 400px;
}
//Validate Form
.content-right {
  .text-error {
    color: #bf1650;
  }
  p::before {
    display: inline;
    content: "⚠ ";
  }
}
