@import "normalize.css"; //reset css;
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700;900&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --mainBackground: linear-gradient(to right, #3a7bd5, #3a6073);
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}
html {
  //   font-size: 62.5%;
}
