.form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;

  .form-filter {
    display: flex;
    margin-left: 3rem;
    .form-group {
      display: flex;
      height: auto;
      .form-group-input {
        margin: 0 10px;
        width:auto &:focus {
          border-color: darkgreen;
          box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(9, 156, 53, 0.6);
          outline: 0 none;
        }

        &:hover {
          border-color: darkgreen;
        }
      }
    }
  }
  .btn-addNewUser {
    cursor: pointer;
    margin-right: 3rem;
    margin-left: 23em;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(9, 156, 53, 0.6);
    &:hover {
      color: #fff;
    }
  }
}
