.form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;

  .form-filter {
    display: flex;
    .form-group {
      width: 100%;
      display: flex;
      height: auto;
      .form-group-input {
        margin: 0 10px;
        background-color: #f0f0f0;
        border: 1px solid #e4e4e4;
        cursor: pointer;
        border-radius: 8px;
      }
    }
  }
}
