.popover {
  width: 14rem;
  .popover-header {
    text-align: center;
    background: linear-gradient(213.12deg, #396afc 39.51%, #0094ff 80.26%);
    color: white;
    font-weight: 500;
    h6 {
      padding-top: 11px;
    }
  }
  .popover-body {
    margin-left: 9px;
    cursor: pointer;
    font-weight: 700;
    &:hover {
      color: seagreen;
    }
  }
}
