.table {
  tr:hover {
    color: darkgreen;
  }
  .table-head {
    background: rgb(152, 197, 152);
  }
  .deleteIcon {
    cursor: pointer;
    &:hover {
      font-size: xx-large;
    }
  }
  .editIcon {
    cursor: pointer;
    &:hover {
      font-size: xx-large;
    }
  }
  tr {
    &:hover {
      cursor: pointer;
      background: rgb(218, 235, 218);
    }
  }
}
