.container {
  padding: 28px;


  .number {
    font-size: 26px;
    margin-bottom: 8px;
    text-transform: capitalize;
    color: white;
    font-weight: 700;
  }
  .content {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    line-height: 1.8;
  }
}
