.navbar {
  width: 100%;
  margin: 0;
  justify-content: space-between !important;

  .brand {
    margin-left: 8%;
    .text-brand {
      color: darkgreen;
      margin-top: auto;
      margin-bottom: auto;
      font-size: 1.7rem;
      font-family: serif;
      font-weight: bolder;
      margin-left: 12px;
    }
  }

  .action {
    display: flex;
    margin-right: 8%;
    justify-content: space-around;
    align-items: center;
    width: 37%;

    .search {
      height: 31px;
      margin-top: auto;
      margin-bottom: auto;
    }
    .account {
      margin-left: auto;
      margin-right: auto;
      padding: 7px;
    }
  }
}
