.navbar {
  width: 100%;
  margin: 0;
  justify-content: space-between !important;

  .brand {
    margin-left: 8%;
    .text-brand {
      color: darkgreen;
      margin-top: auto;
      margin-bottom: auto;
      font-size: 1.7rem;
      font-family: serif;
      font-weight: bolder;
      margin-left: 12px;
    }
  }

  .action {
    display: flex;
    margin-right: 8%;
    justify-content: space-around;
    align-items: center;
    width: 37%;
    a {
      text-decoration: none;
      color: darkgreen;
      font-weight: 700;
      &:hover {
        color: green;
        font-size: large;
      }
    }

    .search {
      height: 31px;
      margin-top: auto;
      margin-bottom: auto;
      border-color: darkgreen;
      box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(9, 156, 53, 0.6);
      // outline: 0 none;
    }
    .account {
      margin-left: auto;
      margin-right: auto;
      padding: 7px;
    }
  }
}
