.table {
  tr:hover {
    color: darkgreen;
  }
  .table-head {
    background: rgb(152, 197, 152);
  }
  .deleteIcon,
  .editIcon {
    cursor: pointer;
    &:hover {
      // transform: scale(1.5);
    }
  }
}
