.form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
  
    .form-filter {
      display: flex;
      margin-left: 3rem;
      width: 100%;
      .form-group {
        // display: flex;
        height: auto;
        padding: 5px;
        width: 30%;
      }
    }
  }
  
 
  