.templates {
  .templates-searchForm {
    margin-bottom: 2rem;
    width: 20%;
    position: relative;
    margin-left: auto;
  }
}
.table-list {
  text-align: center;
  cursor: pointer;
  .table-head {
    // background-color: rgb(175, 218, 232);
    // color: white;
  }
 
  .tableBody {
    .selectedRow {
      background-color: rgb(177, 224, 240);
    }
  }
}
//Modal
.modal {
  .modal-title-lg {
    margin-left: 20rem;
    color: cadetblue;
  }
  .modal-title {
    margin-left: 10rem;
    color: cadetblue;
  }
  .modal-body-title {
    text-align: center;
  }
  label {
    font-weight: 600;
    color: chocolate;
  }
  .input-password {
    position: relative;
    .icon-eye {
      position: absolute;
      top: 28%;
      right: 1rem;
      cursor: pointer;
    }
  }
  .text-error {
    color: #bf1650;
  }
  p::before {
    display: inline;
    content: "⚠ ";
  }
}
//DetailTemmplate

.table {
  margin-top: 5em;
  text-align: center;
  cursor: pointer;
  .table-head {
    // background-color: rgb(241, 206, 171);
  }
  .button {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    button {
      margin-left: 8px;
    }
  }
}
