.templates {
  .templates-searchForm {
    margin-bottom: 2rem;
    width: 20%;
    position: relative;
    margin-left: auto;
  }
}
.table-list {
  text-align: center;
  .table-head {
    background-color: darkolivegreen;
    color: white;
  }
}
