.table {
  text-align: center;
}
.form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  .form-filter {
    display: flex;
    width: 100%;
    .form-group {
      width: 100%;
      margin: 1% 0;
      label {
        font-size: 12px;
        font-weight: 900;
        margin-bottom: 6px;
      }
      .form-group-input {
        background-color: #f0f0f0;
        border: 1px solid #e4e4e4;
        cursor: pointer;
        border-radius: 8px;
      }
    }
  }
  & Button {
    cursor: pointer;
    width: 108px;
    padding: 0;
    margin-right: 3%;
    &:hover {
      color: rgb(163, 228, 246);
    }
  }
}
