.table {
  text-align: center;
}
.form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  .form-filter {
    display: flex;
    margin-left: 3rem;
    & button {
      margin: auto;
      padding: auto;
    }
    .form-group {
      display: flex;
      height: auto;
      width: 54rem;
      .form-group-input {
        margin: 0 10px;
        text-align: justify;
      }
    }
  }
  & Button {
    cursor: pointer;
    width: 108px;
    padding: 0;
    margin-right: 3%;
    &:hover {
      color: rgb(163, 228, 246);
    }
  }
}
